.navbarv2-container {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.wrapper {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.c1 {
  height: 70%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: pink;
  color: white;
  font-size: 2rem;
}

.c2 {
  height: 70%;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: teal;
  color: white;
}

.active-navlink {
  border-bottom: 3px solid white;
}

/* <div className="navbarv2-container">
<div className="wrapper">
  <div className="c1">Hello</div>
  <div className="c2">Bye</div>
</div>
</div> */
