.btn-2-not-selected {
  width: 300px;
  height: 100%;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  transition: ease-in-out 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 10px 20px 10px 20px;
}

.btn-2-selected {
  width: 300px;
  height: 100px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid white;
  color: white;
  transition: ease-in-out 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 10px 20px 10px 20px;
}

/* button:hover {
        transition: ease-in-out 0.2s;
        background-color: rgba(34, 167, 240, 1);
      } */

.btn-2:hover {
  transition: ease-in-out 0.2s;
  /* background-color: rgba(34, 167, 240, 1); */
  color: rgba(34, 167, 240, 1);
}
