.main-container {
  height: 100%;
  width: 100%;
  opacity: 0;
  font-size: 5rem;
  animation-name: pop-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  /* margin-bottom: 5rem; */
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

/* .btn {
  width: 10vw;
  height: 5vh;
} */

/* .col-odd {
  background-color: teal;
} */

/* .col-even {
  background-color: tomato;
} */
